---
layout: default
---

{% assign index = true %}
<div itemscope itemtype="http://schema.org/Blog">
{% for post in paginator.posts %}
{% assign content = post.content %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
        {% include article.html %}
    </article>
{% endfor %}
</div>
<div id="pagenavi" class="pure-g">
	<div class="pure-u-1-2">
		{% if paginator.previous_page %}
		<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | replace: 'index.html', '' }}" class="prev">&laquo; Previous</a>
		{% endif %}
	</div>
	<div class="pure-u-1-2 align-right">
		{% if paginator.next_page %}
		<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="next">Next &raquo;</a>
		{% endif %}    
	</div>
</div>