				<section class="post">
                    <header class="post-header">
                        <h2 class="post-title">{{ post.title}}</h2>

                        <p class="post-meta">
                            November 20, 2013 under <a class="post-category post-category-dotnet" href="#">.Net</a> <a class="post-category post-category-silverlight" href="#">Silverlight</a> | 12 comments  | <a class="post-edit" href="#">edit post</a>
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{ content }}
                        </p>
                    </div>

                    <footer class="post-footer">
                        <i class="fa fa-tags"></i> <a class="post-tag" href="#">3D</a>,<a class="post-tag" href="#">Silverlight</a>
                    </footer>
                </section>


