				<section class="post">
                    <header class="post-header">
{% if index %}
                        <h2 class="post-title"><a href="{{ post.url }}" itemprop="url">{{ post.title}}</a></h2>
{% else %}
                        <h2 class="post-title">{{ post.title}}</h2>
{% endif %}
                        <p class="post-meta">
                            {% include post/date.html %}{{ time }} under {% include post/categories.html %} | 
							{% if site.disqus_short_name and site.disqus_show_comment_count == true %}
								{% include post/comments_link.html %}
							{% endif %}  | 
							{% include post/edit.html %}
                        </p>
                    </header>

                    <div class="post-description">
                        <p>
                            {{ content }}
                        </p>
                    </div>

                    <footer class="post-footer">
                        <i class="fa fa-tags"></i> <a class="post-tag" href="#">3D</a>,<a class="post-tag" href="#">Silverlight</a>
                    </footer>
                </section>


