<!doctype html>
<html lang="en">
<head>
    <link href='http://fonts.googleapis.com/css?family=Exo+2:300,300italic,500,200' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.title }}">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.3.0/pure-min.css">
    <link rel="stylesheet" href="/assets/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/blog.css" type="text/css">
	<link rel="stylesheet" href="/assets/syntax.css" type="text/css" media="all">
	
	<!-- atom & rss feed -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
	
	{% include google_analytics.html %}
</head>