<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="{{ site.author.name }}">
    <meta name="description" content="{{ site.title }}">

    <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
	
	<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
	<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->	
	<link href='https://fonts.googleapis.com/css?family=Exo+2:300,300italic,500,200' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=News+Cycle:400,700' rel='stylesheet' type='text/css'>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
    <link rel="stylesheet" href="/assets/font-awesome-4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/blog.css" type="text/css">
	<link rel="stylesheet" href="/assets/syntax.css" type="text/css" media="all">
	
	<!-- atom & rss feed -->
    <link href="/atom.xml" type="application/atom+xml" rel="alternate" title="Sitewide ATOM Feed">
    <link href="/rss.xml" type="application/rss+xml" rel="alternate" title="Sitewide RSS Feed">
	
	{% include google_analytics.html %}
</head>