{% if post.disqus_identifier %}
  {% assign disqus_identifier = post.disqus_identifier %}
  {% assign debug = 'A' %}
{% elsif post.wordpress_id %}  
  {% capture disqus_identifier %}{{post.wordpress_id}} {{site.production_url}}{{ post.url }}/{% endcapture %}
  {% assign debug = 'B' %}
{% elsif page.disqus_identifier %}
  {% assign disqus_identifier = page.disqus_identifier %}
  {% assign debug = 'C' %}
{% elsif page.wordpress_id %}  
  {% capture disqus_identifier %}{{page.wordpress_id}} {{site.production_url}}{{ page.url }}/{% endcapture %}
  {% assign debug = 'D' %}
{{ else }}
  {% capture disqus_identifier %}{{site.production_url}}{{ page.url }}/{% endcapture %}
  {% assign debug = 'E' %}
{% endif %}

<span style="display: none">{{ debug }}</span>
<span class="comments"><a href="{{ post.url }}#disqus_thread"{% if disqus_identifier %} data-disqus-identifier="{{ disqus_identifier }}"{% endif %}>comments</a></span>